
 body{
    background-color: aquamarine;


 }
 .text-center{
    margin-top: 10%;
 }
 
 .size{
    width: 100px;
    height: 100px;
    margin-left: 25vh;
 }
 .image{
    text-align: center;
    width:140px;
    height: 110px;
    padding: 10px 10px 10px 10px;
     
}

.inicio{
   margin-top: 10%;
     
}
.containerPic{
    border:transparent;
    margin-left: 18px;
    
}
.inicio2{
    margin-top: 0px;
}
.back{
    margin-left: 20%;
    margin-top: 5%;
    background: black;
    color: antiquewhite;
}
.bck{



}